body{
    background-color: aqua;
}
#div{
  width: 200px;
  border: 15px solid green;
  padding: 50px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}
#search{
    text-align: center;
    position: static;
    margin-right:0px;
}
#brand{
    text-align: center;
    margin-top: 40px;
}
#div .desc{
    font-size: 15px;
    padding-top: 37px;
    font-weight: 800;
    color:#088178;
}
#div .img{
    margin-top: 10px;
    padding-left: 80px;
}